.header{
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid white;
    border-radius: 5px;
    justify-content: space-between;

    &__wrap_left{
        display: flex;
    }

    &__link{
        // text-decoration: none;
        border-radius: 20px;
        align-self: center;
        
        &__logo{
            border-radius: 5px;
            width: 60px;
            height: 40px;
            align-self: center;
            margin-right: 15px;
        }
    }

    &__list{
        display: flex;
        width: 550px;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &__items{
            display: flex;

            &__link{
                align-self: center;
                font-family: "Arial";
                text-decoration: none;
                color: grey;
                font-weight: bold;

                &:hover{
                    color: white;
                    transition: 0.5s ease;
                }
            }
        }
    }

    &__wrap_right{
        display: flex;
    }
    &__button{
        color: white;
    }
}