.header{
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid white;
    border-radius: 3px;
    justify-content: space-between;
    padding-bottom: 10px;

    &__wrap_left{
        display: flex;
    }

    &__link{
        // text-decoration: none;
        border-radius: 20px;
        align-self: center;
        
        &__logo{
            border-radius: 5px;
            width: 60px;
            height: 40px;
            align-self: center;
            margin-right: 15px;
        }
    }

    &__list{
        display: flex;
        width: 550px;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &__items{
            display: flex;

            
            &__link{
                align-self: center;
                font-family: "Arial";
                text-decoration: none;
                color: grey;
                font-weight: bold;
                
                &:focus{
                    border-bottom: 1px solid #ffffff;
                    border-radius: 5px;
                }
                &:hover{
                    color: white;
                    transition: 0.3s;
                }
            }
        }
    }

    &__wrap_right{
        display: flex;
    }
    &__button{
        color: white;
        background-color: #EA003D;
        border: none;
        border-radius: 10px;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        padding-right: 15px;
        padding-left: 15px;
        // align-self: center;
        margin-right: 16px;

        &:hover{
            color: black;
            background-color: white;
            transition: 0.5s ;
        }
    }
    &__search{
        color: grey;
        align-self: center;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        margin-right: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;

        &:hover{
            color: black;
            transition: 0.5s;
            cursor: pointer;
            -webkit-text-stroke-color: red;
        }
        &:active{
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: red;
        }
    }

    &__bell{
        text-decoration: none;
        color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
        align-self: center;
        margin-right: 20px;

        &:hover{
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 0, 0);
        }
        &:active{
            color: black;
        }
    }

    &__profile{
        align-self: center;
        color: white;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;


        &:hover{
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 0, 0);
            color: black;
            border: 1px solid red;
        }
        &:active{
            color: white;
        }
    }
}
.hamburger-btn{
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
}

@media only screen and (max-width: 1056px){
    .header{
        justify-content: left;

        &__button{
            margin-right: 30px;
        }
        &__search{
            margin-right: 20px;
            // font-size: 10px;
        }
        &__profile{
            margin-right: 430px;
        }
        // &__wrap_right{
        //     display: flex;
        //     justify-content: space-around;
        // }
    }
    .header__list{
        display: none;
    }
    .header__link{
        margin-right: 20px;
    }
    .hamburger-btn{
        display: block;
    }
}  // ! 1056

@media only screen and (max-width: 1048px){
    .header{
        border: none;
    }
    .header__profile{
        margin-right: 400px;
    }
} //! 1048

@media only screen and (max-width: 1018px){
    .header__profile{
        margin-right: 350px;
    }
} //!1018

@media only screen and (max-width: 969px){
    .header__profile{
        margin-right: 300px;
    }
} //! 969

@media only screen and (max-width: 918px){
    .header__profile{
        margin-right: 250px;
    }
} //! 918

@media only screen and (max-width: 868px){
    .header__profile{
        margin-right: 200px;
    }
} //! 868

@media only screen and (max-width: 818px){
    .header__profile{
        margin-right: 100px;
    }
    .header{
        border: none;
    }
} //! 818


@media only screen and (max-width: 720px){
    .header__profile{
        margin-right: 50px;
    }
} //! 720

@media only screen and (max-width: 670px){
    .header__profile{
        margin-right: 20px;
    }
} //! 670

@media only screen and (max-width: 638px){
    .header__link{
        width: 50px;
        height: 50px;
    }
    .header__button{
        font-size: 10px;
        padding: 3px;
    }
    .header__profile{
        margin-right: 10px;
    }
    .header__search{
        font-size: 15px;
        margin-right: 20px;
    }
} //! 638

@media only screen and (max-width: 460px){
    .header__link{
        // width: 50px;
        height: 50px;
    }
    .header__button{
        margin-right: 10px;
    }
} //! 460

@media only screen and (max-width: 347px){
    a
} //! 347
