.header{
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid white;
    border-radius: 5px;
    justify-content: space-between;
    padding-bottom: 10px;

    &__wrap_left{
        display: flex;
    }

    &__link{
        // text-decoration: none;
        border-radius: 20px;
        align-self: center;
        
        &__logo{
            border-radius: 5px;
            width: 60px;
            height: 40px;
            align-self: center;
            margin-right: 15px;
        }
    }

    &__list{
        display: flex;
        width: 550px;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &__items{
            display: flex;

            
            &__link{
                align-self: center;
                font-family: "Arial";
                text-decoration: none;
                color: grey;
                font-weight: bold;
                
                &:focus{
                    border-bottom: 1px solid #ffffff;
                    border-radius: 5px;
                }
                &:hover{
                    color: white;
                    transition: 0.3s;
                }
            }
        }
    }

    &__wrap_right{
        display: flex;
    }
    &__button{
        color: white;
        background-color: #EA003D;
        border: none;
        border-radius: 10px;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        padding-right: 15px;
        padding-left: 15px;
        // align-self: center;
        margin-right: 16px;

        &:hover{
            color: black;
            background-color: white;
            transition: 0.5s ;
        }
    }
    &__search{
        color: grey;
        align-self: center;
        font-family: "Arial", sans-serif;
        font-weight: bold;
        margin-right: 20px;

        &:hover{
            color: white;
            transition: 0.5s;
            cursor: pointer;
        }
    }

    &__bell{
        text-decoration: none;
        color: black;
    }
}