.home-slick{
    max-width: 1230px;
    border-radius: 10px;
    
    &__img{
        width: 600px;
        border-radius: 20px;
        overflow: hidden;
        
    }
}
.home-slick__link__img{
    width: 1200px;
    border-radius: 20px;
}
// .active_class{
//     margin: 0 auto;
// }
.wrap__carousel{
    margin: 0 auto;
    border-radius: 20px;
}
.container-carousel{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px; 
    border-radius: 20px;
}
.container-active_adds{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px; 
    border-radius: 20px;
    margin: 0 auto; 
}
.wrap__adds{
    width: 1200px;
    margin: 0 auto;
}
.adds__link{
    margin: 0 auto;
}


