.home-slick{
    max-width: 1230px;
    border-radius: 10px;
    
    &__img{
        width: 500px;
        border-radius: 20px;
        overflow: hidden;
    }
}
.home-slick__link__img{
    width: 1200px;
    border-radius: 20px;
}

    .wrap__carousel{
        margin: 0 auto;
        border-radius: 20px;
    }
    .container-carousel{
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 10px; 
        border-radius: 20px;
        margin-bottom: 20px;
}


.container-active_adds{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; 
    border-radius: 20px;
    background-color: blueviolet;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.7s;
    }
}
.adds__link{
    padding-left: 500px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;

}


