body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #100E19;
    overflow-x: hidden;

}
* ::after, *::before{
            box-sizing: inherit;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 10px;
}
img{
  max-width: 100%;
  height: auto;
}
